<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  </head>
<body>
  <style> h1 { color: #FF0000; } </style>
        <h1>Person Name: <%= ID %></h1>
        <h2>Mensaje: <%= MESSAGE %></h2>
         <%switch(MESSAGE){
            case "bienvenido":%>
            <ul>
            <%for(let i = 0; i < TIMES; i++){%> 
                <li>Bienvenido <%= ID %></li> 
            <%}%>
            <%break%>
            </ul>
            <%case "hola":%>
            <ul>
            <%for(let i = 0; i < TIMES; i++){%> 
                <li>Hola <%= ID %></li> 
            <%}%>
            <%break%>
            </ul>
            <%case "adios":%>
            <ul>
            <%for(let i = 0; i < TIMES; i++){%> 
                <li>Adios <%= ID %></li> 
            <%}%>
            <%break%>
            </ul>
        <%}%>      
    </body>
</html>